<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="https://ukkdosm.github.io">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.dosm.gov.my/v1/" target="_blank">DOSM Portal</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.mycensus.gov.my/banci/www/index.php" target="_blank">MyCensus 2020</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://awesome-table.com/-LxkxG14bKK_fIG3xdC3/view" target="_blank">Gallery</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://bit.ly/ukkpapers" target="_blank">Publication</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact  <i class="fa fa-coffee text-danger"></i></a>
</li>
