<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.dosm.gov.my/v1/">DOSM Website</a>
</li>
<li class="nav-item">
<a class="nav-link" href="https://www.mycensus.gov.my/banci/www/index.php">MyCensus 2020</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact<i class="fa fa-coffee text-danger"></i></a>
</li>
