<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155273911-3"></script>

<script data-ad-client="ca-pub-7213201677236038" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155273911-3');
</script>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-hh-q+3g-b8+cp"
     data-ad-client="ca-pub-7213201677236038"
     data-ad-slot="9879912141"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script data-ad-client="ca-pub-7213201677236038" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type='text/javascript' src='//pl16324547.safestcontentgate.com/cc/1d/77/cc1d7727cc2e2f9020432fda38d3373c.js'></script>


<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'J3J33UVAE');kofiwidget2.draw();</script>
